MONGODB_URI=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

EMAIL_SERVER=""
EMAIL_FROM=""

OPENAI_API_KEY=""
OPENWEATHER_API_KEY=""
EXCHANGERATE_API_KEY=""

MAPBOX_ACCESS_TOKEN=""
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=""

SENTRY_DSN=""
